@model ShopEasy.Models.Product

<h1>Create Product</h1>

<form asp-action="Create">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div>
    <div>
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" />
    </div>
    <button type="submit">Create</button>
</form>
